* {
  --main-background-color: rgb(18 18 20);
  --secondary-background-color: rgb(32, 32, 36);
  --text-color: rgb(225, 225, 230);
  --box-color: rgb(91 33 182);

  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 1rem 4rem;
}

.tasks__title {
  color: var(--text-color);
}

.title {
  text-align: center;
  color: var(--text-color);
}

.newTask {
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 1rem 0;
}

.search {
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
  position: relative;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 1rem;
  outline: 0;
}

.input-task {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--main-background-color);
  border-radius: 0.5rem;
}

.input__img {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  cursor: pointer;
}

.btn__addNew {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--box-color);
  padding: 1rem 3rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn__addNew:hover {
  filter: brightness(1.2);
}

.progresso {
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-background-color);
  display: flex;
}

.progresso__status {
  content: "";
  background-color: rgb(4, 211, 97);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

ul {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 5%;
  list-style: none;
  padding: 0;
}

.task {
  color: var(--text-color);
  height: 280px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--secondary-background-color);
}

.task:has(.status--concluido) {
  background-color: var(--box-color);
  font-weight: 700;
}

.task__status {
  border-top: 1px solid rgb(41, 41, 46);
  display: flex;
  justify-content: space-between;
}

.status {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 700;
}

.status--pendente {
  background-color: rgb(41, 41, 46);
}

.status--concluido {
  background-color: rgb(4, 211, 97);
  color: var(--main-background-color);
}

.status__botao {
  background-color: transparent;
  border: none;
  width: 40px;
}
