* {
  --main-background-color: rgba(24, 24, 32, 255);
  --secondary-background-color: rgba(33, 33, 43, 255);
  --text-color: rgb(225, 225, 230);
  --box-checked-color: rgba(91,53,214,255);
  --options-color: rgb(41, 41, 46);
  --green-color: rgb(4, 211, 97);

  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 1rem 2rem;
}

.border-radius {
  border-radius: 0.5rem;
}

.title {
  font-size: 1rem;
  color: var(--text-color);
}

.noTasks {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 4rem;
  text-align: center;
}

.allTasks-title,
.allTasks-description {
  line-height: 1rem;
  color: var(--text-color);
}

.newTask {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.search {
  width: 50%;
  background-color: var(--secondary-background-color);
  position: relative;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 1rem;
  outline: 0;
  width: 100%;
}

.input-task {
  display: none;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--main-background-color);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.input-img {
  position: absolute;
  right: 1rem;
  top: .9rem;
  cursor: pointer;
}

.btn-addNew {
  border: none;
  background-color: var(--box-checked-color);
  padding: 1rem 3rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-addNew:hover {
  filter: brightness(1.2);
}

.progresso {
  height: 0.5rem;
  background-color: var(--secondary-background-color);
  display: flex;
}

.progresso-status {
  content: "";
  background-color: var(--green-color);
  transition: 0.5s ease-in-out;
}

.tasks {
  display: flex;
  list-style: none;
  padding: 0;
}

.task {
  color: var(--text-color);
  height: 280px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--secondary-background-color);
}

.task:hover {
  filter: brightness(1.2);
}

.task:has(.checked) {
  background-color: var(--box-checked-color);
  font-weight: 700;
  text-decoration: line-through;
}

.task-description {
  height: 4rem;
}

.task-status {
  border-top: 1px solid var(--main-background-color);
  display: flex;
  justify-content: space-between;
}

.options {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--options-color);
  display: inline-block;
}

.option-big {
  width: 60%;
  margin-right: .5rem;
}

.checked {
  background-color: var(--green-color);
  color: var(--main-background-color);
}

.delete {
  background-color: rgba(233,63,63,255);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .search {
    width: initial;
  }

  .tasks {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  .input.input-task {
    width: 50%;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .newTask {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 6rem;
  }

  .tasks {
    grid-template-columns: 30% 30% 30%;
  }

  .newTask {
    flex-direction: row;
    width: 700px;
  }
}
