* {
  box-sizing: border-box;
  padding: 0;
}

.dark {
  --main-background-color: rgba(24, 24, 32, 255);
  --secondary-background-color: rgba(33, 33, 43);
  --text-box-checked: rgb(225, 225, 230);
  --text-color: rgb(225, 225, 230);
  --box-checked-color: rgba(91, 53, 214, 255);
  --options-color: rgb(41, 41, 46);
  --green-color: rgb(4, 211, 97);
}

.no-dark {
  --secondary-background-color: rgba(17, 17, 17, 0.1);
  --text-box-checked: rgb(255, 255, 255);
  --text-color: rgba(24, 24, 32, 255);
  --box-checked-color: rgba(91, 53, 214, 255);
  --options-color: rgba(17, 17, 17, 0.2);
  --green-color: rgb(4, 211, 97);
}

.dark-theme {
  width: 10%;
  cursor: pointer;
}

body {
  background-color: var(--main-background-color);
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 1.2rem 0;
}

p {
  margin: 1rem 0;
}

.container {
  padding: 1rem;
}

.border-radius {
  border-radius: 0.5rem;
}

.title {
  width: 35%;
  line-height: 1rem;
}

.title a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  outline: 0;
}

.noTasks {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 4rem;
  text-align: center;
}

.allTasks-title,
.allTasks-description {
  line-height: 1rem;
  color: var(--text-color);
}

.newTask {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.search {
  width: 50%;
  background-color: var(--secondary-background-color);
  position: relative;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 1rem;
  outline: 0;
  width: 100%;
}

.input-task {
  display: none;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--main-background-color);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.input-img {
  position: absolute;
  right: 0.8rem;
  top: 0.9rem;
  cursor: pointer;
}

.btn-addNew {
  border: none;
  background-color: var(--box-checked-color);
  padding: 1rem 3rem;
  color: var(--text-box-checked);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-addNew:hover {
  filter: brightness(1.2);
}

.error {
  color: rgba(233, 63, 63, 255);
}

.progresso {
  height: 0.5rem;
  background-color: var(--secondary-background-color);
  display: flex;
  margin-bottom: 1rem;
}

.progresso-status {
  content: "";
  background-color: var(--green-color);
  transition: 0.3s ease-in-out;
}

.tasks {
  display: flex;
  list-style: none;
  padding: 0;
}

.task {
  color: var(--text-color);
  height: 340px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--secondary-background-color);
}

.task:hover {
  filter: brightness(1.2);
}

.task:has(.checked) {
  background-color: var(--box-checked-color);
  font-weight: 700;
  text-decoration: line-through;
  color: var(--text-box-checked);
}

.task:has(.expired) {
  font-weight: 700;
}

.task:has(.expired) .task-date {
  color: rgba(233, 63, 63, 255);
  font-weight: 700;
  text-decoration: line-through;
}

.task-description {
  height: 5rem;
}

.task-date {
  font-size: 0.8rem;
  margin: 0;
}

.task-status {
  border-top: 1px solid var(--main-background-color);
  display: flex;
  justify-content: space-between;
}

.options {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--options-color);
  width: 100%;
  max-width: 313px;
}

.option-big {
  margin-right: 0.5rem;
}

.checked {
  background-color: var(--green-color);
  color: rgba(24, 24, 32, 255);
}

.delete {
  background-color: rgba(233, 63, 63, 255);
}

.rodape {
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .dark-theme {
    width: 5%;
  }

  .title {
    width: 60%;
    font-size: 1.5rem;
  }

  .search {
    width: initial;
  }

  .tasks {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  .task {
    height: 280px;
  }

  .task-description {
    height: 3.5rem;
  }

  .input.input-task {
    width: 50%;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .newTask {
    flex-direction: row;
  }

  .options {
    max-width: none;
    width: 40%;
    display: inline-flex;
  }

  .option-big {
    width: 50%;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 6rem;
  }

  .tasks {
    grid-template-columns: 30% 30% 30%;
  }

  .newTask {
    flex-direction: row;
    width: 800px;
  }
}
